@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tektur:wght@400..900&display=swap');

:root {
    --fonte-primaria: "Tektur", sans-serif;
    --fonte-secundaria: "Chakra Petch", sans-serif;
    --Verdemoss: #606c38ff;
    --pakista: #283618ff;
    --creme: #fefae0ff;
    --amarelo: #dda15eff;
    --tigre: #bc6c25ff;
    --Preto: #000000;
    --Branco: #f1f1f1;
}

body{
    background-color: var(--tigre);
    color: var(--Branco);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: italic;
    
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    font-family: var(--fonte-primaria);
    text-align: left;
    width: 100%;
    font-size: 36px;
}

span{
    color: var(--Verdemoss);
}

.botao{
    font-family: var(--fonte-primaria);
    background-color: var(--amarelo);
    color: var(--Branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--Verdemoss);
    border-left: 4px solid var(--Verdemoss);
    border-right: 4px solid var(--Verdemoss);
    border-top: none;
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0px 0px 40px 40px;
}

.botao.ativo{
    background-color: var(--pakista);
    border-bottom: var(--tigre)
}
.abas-textos{
    background-color: var(--Verdemoss);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
font-size: 28px;
text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--Branco);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0 ;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0
    };
}

