@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --fonte-primaria: "Playfair Display", serif;
    --fonte-secundaria:"Merriweather", serif;
    --vermelho: #6f1d1bff;
--dourado: #bb9457ff;
--preto: #432818ff;
--marrom: #99582aff;
--creme: #ffe6a7ff;
--escuro: #000000;
--branco: #ffffff;

}

body{
    background-color: var(--preto);
    color: var(--escuro); 
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;

}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    font-family: var(--fonte-secundaria);
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.botao{
    font-family: var(--fonte-primaria);
    background-color: var(--marrom);
    color: var(--escuro);
    display: flex;
    justify-content: center;
    padding: lem;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--dourado);
border-left: 4px solid var(--dourado);
border-right: 4px solid var(--dourado);    
border-top: none;

}

.botoes{
    display: block;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;

}
.botao.ativo{
    background-color: var(--marrom);
    border-bottom: var(--marrom);
    color: var(--branco)
}
.abas-textos{
    background-color: var(--dourado);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}
.aba-conteudo-titulo-secundario{
    text-align: ;
}
@media screen and(min-width: 768px){

    .botoes{
        display: flex;
    }

.botao:first-child{
    border-radius: 40px 0 0 0;
}
.botao:last-child{
    border-radius: 0 40px 0 0;
}
}